Fourth Grade Test {
	font-family: Bold;
	margin: 10em;
}
p {
	font-family: italic;
}
questions {
	border: 3px solid black;
}
thisQuiz {
	border: 10px strip teal;
	margin-top: 5em;
}
submitButton {
	margin-bottom: 10em;
}
quizResults {
	border: 6px solid teal;
	margin-top: 10em;
}