<%
  var data = [];
  teams.forEach(function(team){
    data.push([team.name,team.final_grade]);
  });

  var csv = "Team, Score\\n";
  data.forEach(function(row){
    csv += row.join(',');
    csv += "\\n";
  });
%>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
		<% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="demo container">
					<h2>iCompute Demo</h2>
					<p>
						Select option from left sidebar to view content.<br>
						Click on logo to hide sidebar.<br>
						Sidebar also hides for mobile screen sizes.<br>
						Click 'Login' to view login modal.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
  var passedCSV = "<%= csv %>";
  console.log(passedCSV);
  var hiddenElement = document.createElement('a');
  document.body.appendChild(hiddenElement);
  hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(passedCSV);
  hiddenElement.target = '_blank';
  hiddenElement.download = 'team_scores.csv';
  document.getElementById('main-content-area').appendChild(hiddenElement);
  hiddenElement.click();
</script>
