<header class="shadow">
  <a href="#" onclick="toggleSidebar()">
    <img id="header-logo" src="icompute-logo.png" alt="iCompute logo">
  </a>

  <ul class="list-unstyled">
    <li><a href="#">Help</a></li>
    <li><a href="#" onclick="login()">Log In</a></li>
  </ul>
</header>
