
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
          <h1>Create new multiple choice question.</h1>
					<p></p>
          <form  action="/examplemultiplechoice" method="POST">
							<h6>Enter Question ID:</h6>
              <input class="form-control" type="text" name="ID" placeholder="">
              <p></p>
							<h6>Enter Question Text:</h6>
              <input class="form-control" type="text" name="question" placeholder="">
              <p></p>
							<h6>Enter Option A:</h6>
              <input class="form-control" type="text" name="option_A" placeholder="">
              <p></p>
							<h6>Enter Option B:</h6>
              <input class="form-control" type="text" name="option_B" placeholder="">
              <p></p>
							<h6>Enter Option C:</h6>
              <input class="form-control" type="text" name="option_C" placeholder="">
              <p></p>
							<h6>Enter Option D:</h6>
              <input class="form-control" type="text" name="option_D" placeholder="">
              <p></p>
							<h6>Enter Correct Option:</h6>
              <input class="form-control" type="text" name="correct_option" placeholder="">
              <p></p>
              <button type ="Submit">Submit!</button>
          </form>
				</div>
			</div>
		</div>
	</body>
</html>
