<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
          <h2>Create new multiple choice question.</h2>
          <form  action="/examplemultiplechoice" method="POST">
							<label>Enter Question ID:</label>
              <input class="form-control" type="text" name="ID" placeholder="">

							<label>Enter Question Text:</label>
              <input class="form-control" type="text" name="question" placeholder="">

							<label>Enter Option A:</label>
              <input class="form-control" type="text" name="option_A" placeholder="">

							<label>Enter Option B:</label>
              <input class="form-control" type="text" name="option_B" placeholder="">

							<label>Enter Option C:</label>
              <input class="form-control" type="text" name="option_C" placeholder="">

							<label>Enter Option D:</label>
              <input class="form-control" type="text" name="option_D" placeholder="">

							<label>Enter Correct Option:</label>
              <input class="form-control" type="text" name="correct_option" placeholder="">

              <button class="btn btn-primary" type="Submit">Submit!</button>
          </form>
				</div>
			</div>
		</div>
	</body>
</html>
