<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
          <h2>Create new multiple choice question.</h2>
          <form  action="/examplemultiplechoice" method="POST">
							<label>Enter Question ID:</label>
              <input class="form-control" type="text" name="ID" placeholder="">
							<p></p>

							<label>Enter Question Text:</label>
              <input class="form-control" type="text" name="question" placeholder="">
							<p></p>

							<label>Enter Option A:</label>
              <input class="form-control" type="text" name="option_A" placeholder="">
							<p></p>

							<label>Enter Option B:</label>
              <input class="form-control" type="text" name="option_B" placeholder="">
							<p></p>

							<label>Enter Option C:</label>
              <input class="form-control" type="text" name="option_C" placeholder="">
							<p></p>

							<label>Enter Option D:</label>
              <input class="form-control" type="text" name="option_D" placeholder="">
							<p></p>

							<label>Select Correct Option:</label>
							<div class="checkbox">
								<label>
									<input type="radio" id="option1A" name="correct_option" value=A checked>
									Option A
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="radio" id="option1B" name="correct_option>" value=B>
									Option B
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="radio" id="option1A" name="correct_option" value=C>
									Option C
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="radio" id="option1B" name="correct_option>" value=D>
									Option D
								</label>
							</div>
							<p></p>
							<p></p>
						  <div class="text-right">
              	<button class="btn btn-primary" type="Submit">Create Question</button>
							</div>
          </form>
				</div>
			</div>
		</div>
	</body>
</html>
