<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
          <h2>Scratch Requirements</h2>

					<% if(currentUser && currentUser.isAdmin){ %>

					<form action="/scratchRequirements" method="POST" enctype="multipart/form-data>
						<div class="form-group">
							<label for="scratchRequirements">Edit Requirements Text:</label>
							<textarea class="form-control" rows="5" id="scratchRequirements"
                        name="scratchRequirementsText"><%= scratchReqmts %></textarea>
						</div>
						<div class="form-group">
							<label>Image 1:</label>
							<button class="btn btn-primary" type="image1" name="scratchIMG1">
							<input id='image1' type='file'></button>
							<br>
							<label>Image 2:</label>
							<button class="btn btn-primary" type="image2" name="scratchIMG2">
							<input id='image2' type='file'></button>
							<br>
							<label>Image 3:</label>
							<button class="btn btn-primary" type="image3" name="scratchIMG3">
							<input id='image3' type='file'></button>
							<br>
						</div>

						<div class="text-right my-4">
							<button class="btn btn-primary" type="reset">Reset</button>
							<button class="btn btn-primary" type="submit">Update</button>
						</div>
					</form>

					<% } else { %>

					<p class="my-4"> <%= scratchReqmts %> </p>

					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>
