<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>
        
			<div id="main-content-area">
				<div class="container">
          
			
			<p></p>
          
          
          <h1>Create a new short answer Question</h1>

          <form  action="/examplemultiplechoice" method="POST">
                                                                          

              <input type="text" name="ID" placeholder="QuestionID">
              <p></p>
              <input type="text" name="question" placeholder="enter the question you want asked on the exam">
              <p></p>
           
                   
             <button type ="Submit">Submit!</button>
          </form>

				</div>
			</div>
		</div>
	</body>
</html>
