<nav id="sidebar">
  <ul class="list-unstyled">
          <h5>Questions</h5>
          <li>
            <a href="/Questionnew">Add multiple choice question</a>
          </li>
          <li>
              <a href="/examplemultiplechoice">multiple choice</a>
          </li>
		  
		  <li>
              <a href="/grade">grade MC questions</a>
          </li>
		  
          <li>
              <a href="/exampleshortanswer">short answer</a>
          </li>
      </ul>
</nav>
