
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
          <h2>Add a new team.</h2>

          <form action="/exampleteam" method="POST">
							<label>Enter Team Name:</label>
              <input class="form-control" type="text" name="name" placeholder="">

							<label>Enter Grade Level:</label>
              <input class="form-control" type="text" name="gradeLevel" placeholder="">

							<label>Enter Multiple Choice Grade:</label>
              <input class="form-control" type="text" name="MC_Grade" placeholder="">

							<label>Enter Final Grade:</label>
              <input class="form-control" type="text" name="final_grade" placeholder="">

              <button class="btn btn-primary" type="Submit">Submit!</button>
          </form>
				</div>
			</div>
		</div>
	</body>
</html>
