
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
          <h2>Add a new team.</h2>

          <form action="/exampleteam" method="POST">
							<label>Enter Team Name:</label>
              <input class="form-control" type="text" name="name" placeholder="">
							<p></p>

							<label>Select Grade Level:</label>
							<div class="checkbox">
								<label>
									<input type="radio" id="option1A" name="gradeLevel" value=4 checked>
									4th Grade
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="radio" id="option1B" name="gradeLevel" value=5>
									5th Grade
								</label>
							</div>
							<p></p>

							<label>Enter Multiple Choice Grade:</label>
              <input class="form-control" type="text" name="MC_Grade" placeholder="">
							<p></p>

							<label>Enter Final Grade:</label>
              <input class="form-control" type="text" name="final_grade" placeholder="">
							<p></p>
							<div class="text-right">
              	<button class="btn btn-primary" type="Submit">Create Team</button>
							</div>
          </form>
				</div>
			</div>
		</div>
	</body>
</html>
