a {
	color: #3ab7ff;
}

a:hover {
	color: #ff914d;
}

.interface {
	overflow: hidden;
}

.wrapper {
	display: flex;
	padding-top: 130px;
	width: 100%;
}

.demo {
	margin-top: 40px !important;
	margin-left: 30px;
	width: 100%;
}

.modal-overlay {
	background-color: #00000033;
	padding: 15px;
	position: fixed;
	width: 100vw;
	height: 100%;
	text-align: center;
	z-index: 100;
}

	.modal-container {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin: 30px auto;
		max-width: 500px;
		padding: 20px 30px;
		position: relative;
		text-align: left;
		width: 100%;
	}

	.modal-container h3,
	.modal-container input[type="text"],
	.modal-container input[type="password"] {
		margin-bottom: 30px;
	}

header {
	background-color: #fffcfc;
	height: 130px;
	padding: 7px 15px;
	position: absolute;
	width: 100%;
}

	#header-logo {
		height: 100%;
	}

	header a,
	header a:hover,
	header a:focus {
		text-decoration: none;
	}

	header ul {
		display: inline-block;
		float: right;
		margin: 20px;
	}

		header ul li {
			display: inline-block;
			margin: 20px;
		}

		header #userID {
			color: #bbb;
			font-size: 12px;
			font-style: italic;
			position: absolute;
			right: 57px;
			top: 15px;
		}
#sidebar {
	background-color: #f8f9fa;
	border-right: 2px solid #dfe0e1;
	height: 100vh;
	transition: all 0.3s;
	width: 250px;
}

	#sidebar.hide {
		margin-left: -250px;
	}

	#sidebar ul {
		padding: 20px 30px;
	}

	#sidebar ul a,
	#sidebar ul a:hover,
	#sidebar ul a:focus {
		text-decoration: none;
	}

	#sidebar ul li {
		font-size: 14px;
		margin: 15px 0;
	}

	#sidebar ul h5 {
		color: #ccc;
		margin: 20px 0;
		font-style: italic;
	}


#main-content-area {
	background-color: #fff;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

	#main-content-area .container {
		margin: 30px 40px 100px;
		padding-bottom: 50px;
		width: auto;
	}

.question {
	padding: 30px 5px;
	border-top: 1px solid #ddd;
}

	.question label {
		padding-right: 20px;
	}

<<<<<<< HEAD
form label, form button {
	margin-top: 15px;
}

=======
>>>>>>> deleteQuestion2
@media (max-width: 768px) {
	header ul {
		display: none;
	}

    #sidebar {
        margin-left: -250px;
    }

    #sidebar .hide {
        margin-left: 0;
    }
}
